<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ECproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>web.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerchServlet</display-name>
    <servlet-name>SerchServlet</servlet-name>
    <servlet-class>web.SerchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerchServlet</servlet-name>
    <url-pattern>/SerchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailSurvlet</display-name>
    <servlet-name>DetailSurvlet</servlet-name>
    <servlet-class>web.DetailSurvlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailSurvlet</servlet-name>
    <url-pattern>/DetailSurvlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>web.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseServlet</display-name>
    <servlet-name>PurchaseServlet</servlet-name>
    <servlet-class>web.PurchaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseServlet</servlet-name>
    <url-pattern>/PurchaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnServlet</display-name>
    <servlet-name>ReturnServlet</servlet-name>
    <servlet-class>web.ReturnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnServlet</servlet-name>
    <url-pattern>/ReturnServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmSurvlet</display-name>
    <servlet-name>ConfirmSurvlet</servlet-name>
    <servlet-class>web.ConfirmSurvlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmSurvlet</servlet-name>
    <url-pattern>/ConfirmSurvlet</url-pattern>
  </servlet-mapping>
</web-app>